<div class="container__big-card">

  <div class="big-card__picture">
    <img src="https://th.bing.com/th/id/OIP.asHQ81IfPSjmbXoS7jBLWAHaDr?w=292&h=174&c=7&r=0&o=5&pid=1.7" alt=""
    height="200px">
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores consequuntur provident ipsa nam perspiciatis fugiat, quisquam eligendi atque quae explicabo facere. Consequuntur enim incidunt esse ipsum, hic quibusdam accusantium possimus!
      </a>
    </p>
  </div>
</div>
