<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card photoCover="https://th.bing.com/th/id/OIP.yGfoPjnvom7HRKMZPp7FMwHaEt?w=223&h=180&c=7&r=0&o=5&pid=1.7"
    cardTitle="Nova fase da Marvel se aproxima!!!"
    cardDescription="Uma nova fase está chegando no Universo Marvel, fase essa que será marcada pela estreia de Quarteto Fantástico, um dos filmes mais esperados dos últimos tempos.
    Esta Nova fase também marcará o retorno de Robert Downey Jr. agora como o Vilão Victor Von Doom, o Doutor Destino, que fará sua estréia triunfal no Filme, Vingadores: Doomsday"
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
    cardTitle="Novas séries da Marvel anunciadas"
    photoCover="https://th.bing.com/th/id/OIP.GdZULCLBYgdE3pPZwFxvpAAAAA?w=278&h=180&c=7&r=0&o=5&pid=1.7">

    </app-small-card>

    <app-small-card
    cardTitle="Novo Filme do Quarteto Fantástico irá estrear no dia 24 de Julho de 2025"
    photoCover="https://th.bing.com/th/id/OIF.G3M45LhjVIGGDLwNenfSGA?w=290&h=180&c=7&r=0&o=5&pid=1.7">

    </app-small-card>

    <app-small-card
    cardTitle="Novo Filme dos Vingadores tem lançamento previsto para 2026"
    photoCover="https://th.bing.com/th/id/OIP.9QXYJtthPektNiTVhhIqBwHaLH?w=115&h=180&c=7&r=0&o=5&pid=1.7">

    </app-small-card>
  </div>
</div>
